body {
  background: whitesmoke;
}
.todo-list {
  background-color: white;
  margin: auto;
  width: 50%;
  display: flex;
  align-items: center;
  border: 1px solid #efefef;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
    0 20px 1px -9px rgb(0, 0, 0, 0.15);
}
.todo-item {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  flex-direction: column;
  padding: 30px 20px 0;
  border-bottom: 1px solid #cecece;
  color: #333333;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  align-items: center;
}
